<!DOCTYPE html>
<html lang="en">

	<head>
	</head>
	<body>
		<h1><%= character.name %></h1>
		<h3><%= character.homeworld_name %></h3>
		<h3><%= character.species_name %></h3>
		<table>
			<tr>
				<th>Height</th>
				<th>Mass</th>
				<th>Hair Color</th>
				<th>Skin Color</th>
				<th>Eye Color</th>
				<th>Birth Year</th>
				<th>Gender</th>
			</tr>
			<tr>
				<td><%= character.height %></td>
				<td><%= character.mass %></td>
				<td><%= character.hair_color %></td>
				<td><%= character.skin_color %></td>
				<td><%= character.eye_color %></td>
				<td><%= character.birth_year %></td>
				<td><%= character.gender %></td>
			</tr>
		</table>
		
	</body>

</html>